/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-test {
  border: 1px solid red;
}

/* body {
} */

/* Flex */
.flex-space-btw {
  display: flex;
  justify-content: space-between;
}

.flex-j-center {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 4rem;
  background-color: orchid;
}

section.jumbo {
  height: 36rem;
  background-color: #b4d0e7;
}

.larger-container {
  width: 70%;
  margin: 0 auto;
  background-color: blueviolet;
  height: 26rem;
  /* Altezza da togliere */
}

h1 {
  background-color: yellow;
}

.column {
  width: 30%;
  background-color: chartreuse;
  height: 10rem;
}

.smaller-container {
  width: 55%;
  margin: 0 auto;
  background-color: orange;
}


/* Main */
/* h2 {
} */

main div.radio {
  height: 3rem;
  background-color: blue;
}

main div.card-column,
main div.card-horizontal {
  background-color: lightsalmon;
  min-height: 4rem;
}

main section div.card-column {
  height: 7rem;
  width: calc(100% / 3);
}

.image {
  width: 70%;
  height: 7rem;
  background-color: darkgoldenrod;
}

.operation-card {
  height: 7rem;
  background-color: lightskyblue;
  width: calc(100% / 3);
}

main section div.big-square {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  background-color: lightgreen;
}

div.small-square {
  width: calc(100% / 2);
  background-color: lightgrey;
}

section button.light {
  width: 100px;
  height: 50px;
  background-color: gold;

}

.question {
  height: 5rem;
  background-color: darkgreen;
}


/* Foter */


div.fifths-column {
  width: calc(100% / 5);
}

div.language {
  height: 20px;
  background-color: aquamarine;
}