/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-test {
  border: 1px solid red;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Flex */
.flex-space-btw {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.flex-space-btw-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-j-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/* Header */
header {
  height: 4rem;
  font-size: .8rem;
}

.header-container {
  height: 100%;
}

.header-cont-small {
  padding: 0 1rem;
}

header img {
  height: 20px;
}

ul {
  list-style: none;
}

header .header-ul-container {
  height: 100%;
}

header li {
  padding: 0 1.5rem;
}

button {
  background-color: #0061ff;
  color: white;
  border: none;
  font-size: .8rem;
  padding: .4rem .8rem;
}

.btn-margin {
  margin: 1.5rem 0;
}

/* Jumbo */
section.jumbo {
  background-color: #b4d0e7;
  padding: 5rem 0 0 0;
  margin-bottom: 5rem;
}

.larger-container {
  width: 65%;
  margin: 0 auto;
  /* background-color: blueviolet; */
  /* height: 36rem; */
}

section div.jumbo-container {
  position: relative;
}

h1 {
  /* background-color: yellow; */
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.column-30 {
  width: 30%;
  /* background-color: chartreuse; */
  min-height: 2rem;
  font-size: .8rem;
}

section img.jumbo-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

section.jumbo i {
  font-size: 2rem;
  font-weight: 800;
  padding: 5rem 0 1rem 0;
}



/* Main */
main {
  font-size: .8rem;
}

.smaller-container {
  width: 55%;
  margin: 0 auto;
  background-color: bisque;
}

/* main section {
  padding: 2rem 0;
} */

.full-width {
  background-color: #b4d0e7
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

h2.color-burgundy {
  color: #61092e;
}

main div.radio {
  padding: 1rem 0;
  /* height: 3rem;
  background-color: blue; */
}

main section.plans {
  font-size: .7rem;
}

main div.card-column,
main div.card-horizontal {
  background-color: white;
  margin-bottom: 20px;
}

main section div.card-column {
  width: calc((100% / 3) - 25px);
}

.border-lightgray {
  border: 1px solid lightgray;
}

main div.client-type {
  text-align: center;
  font-size: .7rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

section div.card-container,
section div.team-enterprise-cont {
  padding: 1.7rem;
}

.card-container hr,
.big-square hr {
  width: 20%;
  margin: 1.5rem 0;
  height: 1px;
  background-color: lightgrey;
  border: none;
}

div.card-column span {
  padding-bottom: 1rem;
}

.small-bold {
  font-weight: 700;
  padding: .7rem 0;
}

div p.frequency {
  color: darkgrey;
  padding-bottom: 2.2rem;
}

div.card-column i {
  padding-right: .5rem;
}

/* carta orizzontale */
.text-wrapper {
  width: 55%;
}

div.card-horizontal button {
  margin: 0;
}


.left-column {
  width: 55%;
  /* background-color: goldenrod; */
}

.right-column {
  width: 45%;
  max-width: 250px;
  padding-left: 1rem;
}

.image {
  width: 450px;  
}

.find-partner-btn {
  background-color: white;
  color: black;
  border: black 1px solid;
  padding: .5rem .8rem;
}

main p {
  font-size: 0.8rem;
 padding: 1rem 0;
}


.operation-card {
  min-height: 7rem;
  width: calc((100% / 3) - 25px);
}

section img.img-operation {
  width: 100%;
}

h2.shorter-title {
  max-width: 500px;
}

main section div.big-square {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  background-color: #f5f5f5;
}

div.small-square {
  width: calc(100% / 2);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

img.centered-logo {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Credits: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(100%) sepia(88%) saturate(2%) hue-rotate(296deg) brightness(110%) contrast(101%);
}

.logo-1 {
  background-color: #a2d39b;
}

.logo-2 {
  background-color: #61082b;
}

.logo-3 {
  background-color: #0093ce;
}

.logo-4 {
  background-color: #ff1c1c;
}

.logo-5 {
  background-color: #d5001f;
}

.logo-6 {
  background-color: #b4d0e7;
}

.logo-7 {
  background-color: #0d2481;
}

.logo-8 {
  background-color: #ffd830;
}

div.padding-square {
  padding: 2rem;
}

.bigger-logo {
  width: 220px;

}

section button.light {
  width: 100px;
  height: 50px;
  background-color: gold;

}

.question {
  height: 5rem;
  background-color: darkgreen;
}


/* Footer */


div.fifths-column {
  width: calc(100% / 5);
}

div.language {
  height: 20px;
  background-color: aquamarine;
}