/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-test {
  border: 1px solid red;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Flex */
.flex-space-btw {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-btw-fs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-j-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-ai-center {
  display: flex;
  align-items: center;
}

.flex-space-btw-fs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* .flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  padding-top: 6rem;
}

/* Header */
header {
  font-size: .8rem;
  /* padding: 1rem 0; */
}

.header-container {
  height: 100%;
}

.header-cont-small {
  padding: 0 1rem;
}

header img {
  height: 20px;
}

ul {
  list-style: none;
}

header .header-ul-container {
  height: 100%;
}

header li {
  padding: 1rem 0;
  margin: 0 1.5rem;
  border-bottom: 2px solid transparent;
}

header li:hover {
  border-bottom: 2px solid black;
  position: relative;
}

div.dropdown-menu {
  display: none;
  width: 500px;
}

div.dropdown-menu li {
  border-bottom: none;
}

header li:hover .dropdown-menu {
  position: absolute;
  top: 3.2rem;
  left: -1.5rem;
  background-color: #fafafa;
  display: block;
  z-index: 1;
}

header li:hover #right {
  position: absolute;
  top: 3.2rem;
  left: -25rem;
}

ul.menu-column {
  width: 50%;
}

button {
  background-color: #0061ff;
  color: white;
  border: none;
  font-size: .8rem;
  padding: .4rem .8rem;
}

/* button:hover {
 filter: invert(1)
} */

.btn-light-blue {
  margin: 1.5rem 0;
  padding: .7rem;
}

.btn-hover:hover {
  background-color: #0057e5;
}

/* Jumbo */
section.jumbo {
  background-color: #b4d0e7;
  margin-bottom: 5rem;
}

.larger-container {
  width: 65%;
  margin: 0 auto;
}

section div.jumbo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 60px;
}

section.jumbo p,
div.question p {
  padding: 0;
}

h1 {
  /* background-color: yellow; */
  font-size: 3.75rem;
  font-weight: 800;
  /* padding-bottom: 2rem; */
}

.column-30 {
  width: 30%;
  font-size: .8rem;
}

.column-70 {
  width: 70%;
}

section img.jumbo-img {
  top: 0;
  right: 0;
  width: 100%;
}

section.jumbo i {
  font-size: 2rem;
  font-weight: 800;
  padding-top: 5rem;
}



/* Main */
main {
  font-size: .8rem;
}

.smaller-container {
  width: 55%;
  margin: 0 auto;
}

.full-width {
  background-color: #b4d0e7
}

h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

h2.color-burgundy {
  color: #61092e;
  padding-bottom: 6rem;
}

main div.radio {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

div.radio span {
  padding-right: 2rem;
}

main section.plans {
  font-size: .7rem;
}

main div.card-column,
main div.card-horizontal {
  background-color: white;
  margin-bottom: 20px;
}

main section div.card-column {
  width: calc((100% / 3) - 25px);
}

.border-lightgray {
  border: 1px solid lightgray;
}

main div.client-type {
  text-align: center;
  font-size: .7rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: .7rem;
}

section div.card-container,
section div.team-enterprise-cont {
  padding: 1.7rem;
}

.card-container hr,
.big-square hr {
  width: 20%;
  margin: 1.5rem 0;
  height: 1px;
  background-color: lightgrey;
  border: none;
}

div.card-column span {
  padding-bottom: 1rem;
}

.small-bold {
  font-weight: 700;
  padding-bottom: .7rem;
}

div p.frequency {
  color: darkgrey;
  padding-bottom: 2.2rem;
}

i {
  padding-right: .5rem;
}

.btn-margin {
  margin: 1.5rem 0;
}


/* card orizzontale */
.text-wrapper {
  width: 55%;
}

div.card-horizontal button {
  margin: 0;
}


.left-column {
  width: 55%;
}

.right-column {
  width: 45%;
  max-width: 300px;
  padding-left: 2rem;
}

.image {
  width: 450px;  
}

.find-partner-btn {
  background-color: white;
  color: black;
  border: black 1px solid;
  padding: .5rem .8rem;
}

.find-partner-btn:hover,
.light:hover {
  filter: invert(1);
}

main p {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}


.operation-card {
  min-height: 7rem;
  width: calc((100% / 3) - 25px);
}

section img.img-operation {
  width: 100%;
}

h2.shorter-title {
  max-width: 500px;
}

main section div.big-square {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  background-color: #f5f5f5;
}

div.small-square {
  width: calc(100% / 2);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

img.centered-logo {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Credits: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(100%) sepia(88%) saturate(2%) hue-rotate(296deg) brightness(110%) contrast(101%);
}

.logo-1 {
  background-color: #a2d39b;
  outline: 10px solid #d1e9cd;
  outline-offset: -10px;
}

.logo-2 {
  background-color: #61082b;
}

.logo-3 {
  background-color: #0093ce;
}

.logo-4 {
  background-color: #ff1c1c;
}

.logo-5 {
  background-color: #d5001f;
}

.logo-6 {
  background-color: #b4d0e7;
}

.logo-7 {
  background-color: #0d2481;
}

.logo-8 {
  background-color: #ffd830;
}

div.padding-square {
  padding: 2rem;
}

.bigger-logo {
  width: 220px;

}

section button.light {
  background-color: white;
  color: black;
  padding: .6rem 2rem;
}

.question {
  padding: 2.5rem 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.question:hover .fa-chevron-down {
  transform: rotate(180deg);
}

.question:last-child {
  margin-bottom: 8rem;
}

div.question p,
div.question i {
  font-weight: 800;
}

div.question i {
  padding: 0;
}

.answer {
  display: none;
}

div.question:hover .answer {
  display: inline-block;
  color: gray;
  font-weight: 500;
  margin-top: 2rem;
}

/* Footer */

footer {
  background-color: black;
  color: white;
  font-size: .8rem;
  padding: 2rem 0;
}

div.fifths-column {
  width: calc(100% / 5);
  padding-bottom: 2.5rem;
}

div.fifths-column h3 {
  padding-bottom: 1rem;
}

div.fifths-column li {
  padding-bottom: .8rem;
}

div.fifths-column li:hover {
  filter: invert(63%) sepia(8%) saturate(208%) hue-rotate(138deg) brightness(94%) contrast(88%);
}

footer hr {
  width: 80px;
  height: 1px;
  background-color: lightgrey;
  border: none;
  margin: 3rem 0;
}

div.language {
  color: #91999a;
}

span.lingua {
  padding-right: .5rem;
}