/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-test {
  border: 1px solid red;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Flex */
.flex-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.flex-j-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/* Header */
header {
  height: 4rem;
  /* background-color: orchid; */

  font-size: .8rem;
}

.header-container {
  height: 100%;
}

.header-cont-small {
  /* min-width: 100px;
  height: 100%;
  background-color: seagreen; */
  padding: 0 1rem;
}

header img {
  height: 20px;
}

ul {
  list-style: none;
}

header .header-ul-container {
  height: 100%;
}

header li {
  padding: 0 1.5rem;
}

button {
  background-color: #0061ff;
  color: white;
  border: none;
  padding: .4rem .8rem;
}

.btn-margin {
  margin: 1.5rem 0;
}

/* Jumbo */
section.jumbo {
  /* height: 46rem; */
  background-color: #b4d0e7;
  padding: 5rem 0 0 0;
  margin-bottom: 5rem;
}

.larger-container {
  width: 65%;
  margin: 0 auto;
  /* background-color: blueviolet; */
  /* height: 36rem; */
}

section div.jumbo-container {
  position: relative;
}

h1 {
  /* background-color: yellow; */
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.column {
  width: 30%;
  /* background-color: chartreuse; */
  min-height: 2rem;
  font-size: .8rem;
}

section img.jumbo-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

section.jumbo i {
  font-size: 2rem;
  font-weight: 800;
  padding-top: 6rem;
}



/* Main */
.smaller-container {
  width: 55%;
  margin: 0 auto;
  background-color: orange;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

main div.radio {
  padding: 1rem 0;
  /* height: 3rem;
  background-color: blue; */
}

main section.plans {
  font-size: .7rem;
}

main div.card-column,
main div.card-horizontal {
  background-color: white;
  min-height: 4rem;
  margin-bottom: 20px;
}

main section div.card-column {
  width: calc(100% / 3);
}

.border-lightgray {
  border: 1px solid lightgray;
}

main div.client-type {
  text-align: center;
  font-size: .7rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

section div.card-container,
section div.team-enterprise-cont {
  padding: 1rem;
}

.card-container hr {
  width: 20%;
  margin: 1rem 0;
}

div.card-column span {
  padding-bottom: 1rem;
}

.small-bold {
  font-weight: 700;
  padding: .8rem 0;
}

div p.frequency {
  color: darkgrey;
}

div.card-column i {
  padding-right: .5rem;
}

/* carta orizzontale */
.text-wrapper {
  width: 55%;
}

div.card-horizontal button {
  margin: 0;
}




.image {
  width: 70%;
  height: 7rem;
  background-color: goldenrod;
}

.operation-card {
  min-height: 7rem;
  background-color: lightskyblue;
  width: calc(100% / 3);
}

section img.img-operation {
  width: 100%;
}

main section div.big-square {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  background-color: lightgreen;
}

div.small-square {
  width: calc(100% / 2);
  background-color: lightgrey;
}

section button.light {
  width: 100px;
  height: 50px;
  background-color: gold;

}

.question {
  height: 5rem;
  background-color: darkgreen;
}


/* Footer */


div.fifths-column {
  width: calc(100% / 5);
}

div.language {
  height: 20px;
  background-color: aquamarine;
}